QLabel#closeBtn, QLabel#minimizeBtn {
    color: #2F2D32; /* White text */
    padding: 5px; /* Adjust the padding as needed */
    text-align:center;
    margin-top:2px;
    margin-bottom:2px;
}

QLabel#closeBtn:hover, QLabel#minimizeBtn:hover {
    color: white; /* White text */
    padding: 5px; /* Adjust the padding as needed */
    margin:2px;
    text-align:center;
    margin-top:2px;
    margin-bottom:2px;
    background-color: #FF3131; /* Transparent violet background */
}
